h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    font-weight:bold;
    text-align: center;
}

.home img {
    max-height: 400px;
    max-width: 400px;
   float: right;
}
.form-group button {
    border-radius: 25px;
}
.form-group {
    margin-left: 50px;
}

.about {
    text-decoration: underline;
    font-size: 2rem;
    margin-left: 650px;
}
.chris {
    max-width: 300px;
    max-height: 300px;
}
.France{
    max-width: 300px;
    max-height: 300px;
}
.maridalia{
    max-width: 300px;
    max-height: 300px;
}
.lafecesus{
    max-width: 300px;
    max-height: 300px;
}
.intro {
    text-align: center;
    margin: 100px;
    font-size: 1.5rem;
    font-weight: bold;
}
.cbio {
    width: 300px;
}
body{
    background-color: rgb(0, 153, 255);
}
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}
.gallery__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}
.gallery__item--4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}
.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
}