
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    font-weight:bold;
    text-align: center;
}
h6, h3 {
    text-align: center;
}

.home {
    position: absolute;
}
.form-group button {
    border-radius: 25px;
}
.form-group {
    display: inline-block;
    text-align: left;
    
}

.form-parent {
    position: absolute;
    display: inline-block;
    margin-left: 500px;
    margin-right: auto;
    text-align: center;
}

.about {
    text-decoration: underline;
    font-size: 2rem;
    margin-left: 650px;
}
.chris {
    max-width: 300px;
    max-height: 300px;
}
.France{
    max-width: 300px;
    max-height: 300px;
}
.intro {
    text-align: center;
    margin: 100px;
    font-size: 1.5rem;
    font-weight: bold;
}
.cbio {
    width: 300px;
}

.landing {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.landing img{
    max-height: 700px;
    max-width: 700px;
    
}